:root
{
    background-color: rgb(230, 200, 255);
    color: black;
}
img
{
    display: block;
    margin: auto;
}
h1
{
    font-size: 56px;
    color: white;
    text-align: center;
}
h2, h3, h4, h5, h6
{
    color: Green;
}
a
{
    color:  Orange;
}
ul li
{
    color: Blue;
}  
    
